<!-- <h5 class="mb-0">
    <button class="btn btn-link p-0 mb-4 ins-a-brand" data-toggle="collapse" data-target="#shippingMethod" aria-expanded="true" aria-controls="collapseOne">
      <h5>3 Shipping Methods</h5>
    </button>
</h5>
<div id="shippingMethod" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <section class="clearfix">
        <table>
            <tr>
                <th></th>
                <th>Price</th>
                <th>Method</th>
                <th>Carrier</th>
            </tr>
            <tr>
                <td><input type="radio" value="20000" name="shippingMethod"></td>
                <td>$15</td>
                <td>Table Rate</td>
                <td>Best Way</td>
            </tr>
            <tr>
                <td><input type="radio" name="shippingMethod"></td>
                <td>$4.00</td>
                <td>Table Rate</td>
                <td>Best Way</td>
            </tr>
        </table>
        <button class="btn ins-btn-outline-brand float-right mt-4">Continue</button>
    </section>
</div> -->