<h4 class=" ins-bg-second text-white p-2 mb-0">New Customers</h4>
        <section class="clearfix">
          <div class="row mt-4 d-flex align-items-center">
              <label for="" class="col-md-3 m-0">Gender</label>
              <div class="col-md-6"> 
                  <div class="d-inline">
                      <input type="radio" id="mr"  name="gender" class="">
                      <label for="mr">
                          Mr.
                      </label>
                  </div>
                  <div class="d-inline ml-4">
                      <input type="radio" id="mrs" name="gender" class="">
                      <label for="mrs">
                          Mrs.
                      </label>
                  </div>
              </div>
          </div>
          <div class="row mt-4 d-flex align-items-center">
              <label for="" class="col-md-3 m-0">First Name</label>
              <div class="col-md-6"> 
                  <input type="text" id="" class="w-100">
              </div>
          </div>
          <div class="row mt-4 d-flex align-items-center">
              <label for="" class="col-md-3 m-0">Last Name</label>
              <div class="col-md-6"> 
                  <input type="text" id="" class="w-100">
              </div>
          </div>
          <div class="row mt-4 d-flex align-items-center">
              <label for="" class="col-md-3 m-0">Email</label>
              <div class="col-md-6"> 
                  <input type="email" id="" class="w-100">
              </div>
          </div>
          <div class="row mt-4 d-flex align-items-center">
              <label for="" class="col-md-3 m-0">Password</label>
              <div class="col-md-6"> 
                  <input type="Password" id="" class="w-100">
              </div>
          </div>
          <div class="row mt-4 d-flex align-items-center">
              <label for="" class="col-md-3 m-0">Comfirm Password</label>
              <div class="col-md-6"> 
                  <input type="Password" id="" class="w-100">
              </div>
          </div>
          <div class="row mt-4 d-flex align-items-center">
              <label for="" class="col-md-3 m-0">Birthday</label>
              <div class="col-md-6"> 
                  <input type="date" id="" class="w-100">
              </div>
              <div class="col-md-3">
                  Optional
              </div>
          </div>
          <button class="btn ins-btn-outline-brand float-right mt-4">Register</button>
        </section>