<div class="row ins-pt">
    <div class="col-md-12">
    <nav class="">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a  class="nav-item nav-link active ins-a-brand" id="nav-new-products-tab" data-toggle="tab" href="#nav-new-products" role="tab" aria-controls="nav-home"
            aria-selected="true">New products</a>
          <a class="nav-item nav-link ins-a-brand" id="nav-featured-products-tab" data-toggle="tab" href="#nav-featured-products" role="tab" aria-controls="nav-profile"
            aria-selected="false">Featured product</a>
          <a class="nav-item nav-link ins-a-brand" id="nav-best-seller-tab" data-toggle="tab" href="#nav-best-seller" role="tab" aria-controls="nav-contact"
            aria-selected="false">Best Seller</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-new-products" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-block-template-product ></app-block-template-product>
        </div>
        <div class="tab-pane fade" id="nav-featured-products" role="tabpanel" aria-labelledby="nav-profile-tab">
            <app-block-template-product ></app-block-template-product>
        </div>
        <div class="tab-pane fade" id="nav-best-seller" role="tabpanel" aria-labelledby="nav-contact-tab">
            <app-block-template-product></app-block-template-product>
        </div>
      </div>
    </div>
  </div>







