<!-- Footer -->
<footer class="ins-pt">
  <div class="container">
    <!-- row-1 -->
    <div class="row ins-pb text-center d-flex align-items-center ins-footer-2">
      <div class="col-md-4">
        <i class="material-icons">drafts</i>
        <h4> Sign up to
          <strong>Newletter</strong>
        </h4>
        <p>Get
          <b>30% Off</b> First Pusrchase!</p>
      </div>
      <div class="col-md-8">
        <div class="input-group">
          <input type="search" id="inputSignUpLetter" class="input-group-text form-control ins-input-search" placeholder="Your Email Address"
            aria-label="YourEmail" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <button type="submit" class="btn ins-btn-outline-brand form-control" aria-describedby="input">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <!-- row-1-end -->
    <!-- row-2 -->
    <div class="row ins-footer-2 ins-pb">
      <div class="col-md-4 mb-3 col-sm-12">
        <a class="navbar-brand display-5 ins-a-brand mb-2 pt-0" routerLink="/homepage">
          <b>Book</b> mall</a>
        <p class="d-flex">
          <i class="material-icons mr-1">home</i>Book mall, 42 street 12345 Puffinville France</p>
        <p class="d-flex">
          <i class="material-icons mr-1">phone</i>Phone: 0239475556</p>
        <p class="d-flex">
          <i class="material-icons mr-1">email</i>Email: digitalmall@gmail.com</p>
        <p class="d-flex">
          <i class="material-icons mr-1">alarm</i>Time: 8:00 - 19:00, Monday - Saturday</p>
          <div class="ins-share-icon">
            <!-- <a href="http://www.facebook.com/share.php?u=http://mas1.magikthemes.com/index.php/fluence/non-fiction/educational-media.html&t=">
              <i class="fab fa-facebook-f "></i>
            </a> -->
            <i class="fab fa-youtube"></i>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://mas1.magikthemes.com/index.php/fluence/non-fiction/educational-media.html&title=&source=BLOGNAME&summary=EXCERPT">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <!-- <a href="https://plus.google.com/share?url=http://mas1.magikthemes.com/index.php/fluence/non-fiction/educational-media.html">
              <i class="fab fa-google-plus-g"></i>
            </a> -->
              <a href="http://twitter.com/home?status=%20-%20http://mas1.magikthemes.com/index.php/fluence/non-fiction/educational-media.html">
                  <i class="fab fa-twitter"></i>
              </a>
          </div>
        </div>
      <div class="col-md-2 col-6">
        <h6>Our Company</h6>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="" class="ins-a-footer">Delivery</a>
          </li>
          <li class="mb-2">
            <a href="" class="ins-a-footer">Legal Notice</a>
          </li>
          <li class="mb-2">
            <a href="" class="ins-a-footer">About us</a>
          </li>
          <li class="mb-2">
            <a  class="ins-a-footer">Secure payment</a>
          </li>
          <li class="mb-2">
            <a routerLink="/contact" class="ins-a-footer">Contact us </a>
          </li>
        </ul>

      </div>
      <div class="col-md-2 col-6">
        <h6>Your account</h6>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="" class="ins-a-footer">Personal info</a>
          </li>
          <li class="mb-2">
            <a href="" class="ins-a-footer">Credit slips</a>
          </li>
          <li class="mb-2">
            <a href="" class="ins-a-footer">Orders</a>
          </li>
          <li class="mb-2">
            <a href="" class="ins-a-footer">
              <Address></Address>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12 payment-app">
        <h6>Payment</h6>
        <img class="payment" src="https://res.cloudinary.com/dtbgme8xe/image/upload/v1531461696/bookshop-angular/Paypa.png" alt="">
        <h6 class="mt-4">Mobile App</h6>
        <img src="https://res.cloudinary.com/dtbgme8xe/image/upload/v1531461690/bookshop-angular/googleplay.png" alt="">
        <img src="https://res.cloudinary.com/dtbgme8xe/image/upload/v1531461682/bookshop-angular/appstore.png">
      </div>
    </div>
    <!-- row-2-end -->
  </div>
  <!-- /.container -->
  <div class="footer-year">
    <div class="container">
      <p class="text-center mb-0">© 2018 nhu . All Rights Reserved</p>
    </div>
  </div>
</footer>
