<div class="row">
    <div class="col-md-3 col-6 " *ngFor='let book of books'>
      <div class="card text-center border-0 my-4 ins-card-product">
        <a routerLink="/product-detail/{{book._id}}">
          <img class="ins-img-product" src="{{book.images.main}}" alt="">
        </a>
        <span class=" btn-danger rounded-circle ins-btn-deal">
            -10%
        </span>
        <div class="card-body border-top">
          <h5 class="card-title ins-card-title">
            <a routerLink="/product-detail/{{book._id}}" class="ins-a-brand">{{book.title}}</a>
          </h5>
          <b>{{book.sellingPrice}} </b>
            <small class="text-muted">
                | <s> {{book.previousPrice}}</s>
            </small>
          <br>
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
          <br>
          <button type="button" class="btn ins-btn-outline-brand mt-2">Add to cart</button>
        </div>
      </div>
    </div>
  </div>


