.ins-img-single {
  position: relative;
}
.ins-img-single div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ins-nav-category {
  font-size: 15px;
  background-color: #eee;
}
@media (min-width: 991px) {

}
