<app-slide></app-slide>
<div class="container">
  <app-list-item-support></app-list-item-support>
  <app-new-feature-best-product></app-new-feature-best-product>
  <div class="row ins-img-single-quote">
    <div class="d-flex align-items-center mt-4">
      <div class="col-md-8">
        <video controls class="video w-100" autoplay muted loop preload="auto">
          <source src="../../assets/images/video.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-md-4 p-4">
        <h2> Lorem ipsum dolor sit amet. </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam doloribus distinctio placeat nisi error, at aliquid reprehenderit aut corporis cumque.</p>
      </div>
    </div>
  </div>
  <app-similar-product></app-similar-product>
  <div class="ins-img-single mt-4 ">
    <img src="../../assets/images/paper.png" class="w-100" alt="">
    <div >
      <p class="display-3">Wellcome to our Store</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, alias!</p>
    </div>
  </div>
  <app-list-item-company></app-list-item-company>
</div>

