.breadcrumb {
    background-color: transparent;
  }




  /* row1:detail */
  .ins-detail-img span {
    top: 20px;
    left: 20px;
    border-radius: 50% !important;
  }
  .ins-detail-img ul li img {
    width: 25%;
  }

  .ins-detail .ins-detail-add-to-cart input {
    width: 50px;
  }

