<div class="row">
  <div class="col-md-3 col-6">
    <div class="card text-center border-0 my-4 ins-card-product">
      <a href="product-detail.html">
        <img class="ins-img-product" src="../assets/images/best-seller-frid.jpg" alt="">
      </a>
      <span class="btn btn-danger rounded-circle ins-btn-deal">
          -10%
      </span>
      <div class="card-body border-top">
        <h5 class="card-title ins-card-title">
          <a href="product-detail.html" class="ins-a-brand">Frid Conjed Fox</a>
        </h5>
        <b>$65.23 </b>
          <small class="text-muted">
              | <s> $26.34</s>
          </small>
        <br>
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        <br>
        <button type="button" class="btn ins-btn-outline-brand mt-2">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="card text-center border-0 my-4 ins-card-product">
      <a href="product-detail.html">
        <img class="ins-img-product" src="../assets/images/best-seller-frid.jpg" alt="">
      </a>
      <span class="btn btn-danger rounded-circle ins-btn-deal">
          -10%
      </span>
      <div class="card-body border-top">
        <h5 class="card-title ins-card-title">
          <a href="product-detail.html" class="ins-a-brand">Frid Conjed Fox</a>
        </h5>
        <b>$65.23 </b>
          <small class="text-muted">
              | <s> $26.34</s>
          </small>
        <br>
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        <br>
        <button type="button" class="btn ins-btn-outline-brand mt-2">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="card text-center border-0 my-4 ins-card-product">
      <a href="product-detail.html">
        <img class="ins-img-product" src="../assets/images/best-seller-frid.jpg" alt="">
      </a>
      <span class="btn btn-danger rounded-circle ins-btn-deal">
          -10%
      </span>
      <div class="card-body border-top">
        <h5 class="card-title ins-card-title">
          <a href="product-detail.html" class="ins-a-brand">Frid Conjed Fox</a>
        </h5>
        <b>$65.23 </b>
          <small class="text-muted">
              | <s> $26.34</s>
          </small>
        <br>
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        <br>
        <button type="button" class="btn ins-btn-outline-brand mt-2">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-6">
    <div class="card text-center border-0 my-4 ins-card-product">
      <a href="product-detail.html">
        <img class="ins-img-product" src="../assets/images/best-seller-frid.jpg" alt="">
      </a>
      <span class="btn btn-danger rounded-circle ins-btn-deal">
          -10%
      </span>
      <div class="card-body border-top">
        <h5 class="card-title ins-card-title">
          <a href="product-detail.html" class="ins-a-brand">Frid Conjed Fox</a>
        </h5>
        <b>$65.23 </b>
          <small class="text-muted">
              | <s> $26.34</s>
          </small>
        <br>
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        <br>
        <button type="button" class="btn ins-btn-outline-brand mt-2">Add to cart</button>
      </div>
    </div>
  </div>
</div>
