<div class="row ins-description">
    <div class="col-12 col-md-12">
      <ul class="nav nav-tabs mb-3 " id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link ins-a-brand" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Full Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ins-a-brand" id="product-detail-tab" data-toggle="tab" href="#product-detail" role="tab" aria-controls="product-detail" aria-selected="false">Product detail</a>
        </li>
      </ul>
      <div class="tab-content " id="myTabContent">
        <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <p>{{book.fullDescription}}</p>
        </div>
        <div class="tab-pane fade " id="product-detail" role="tabpanel" aria-labelledby="product-detail-tab">
          <p><b>Ngày Đăng: </b>{{book.releaseDate}}</p>
          <p><b>Sku: </b>{{book.sku}}</p>
          <p><b>Tên sách: </b>{{book.title}}</p>
          <p><b>Tác giả: </b>{{book.author}}</p>
          <p><b>NXB: </b>{{book.publisher}}</p>
          <p><b>Số trang: </b>{{book.pages}}</p>
          <p><b>Kích thướt: </b>{{book.size[0]}}x{{book.size[1]}}</p>
          <!-- <p><b>Kích thướt: </b>{{book.size.depth}}x{{book.size.width}} cm</p> -->
        </div>
      </div>
    </div>
  </div>
