<div class="row ins-description">
    <div class="col-12 col-md-12">
      <ul class="nav nav-tabs mb-3 " id="myTab" role="tablist">
        <li class="nav-item ">
          <a class="nav-link ins-a-brand active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ins-a-brand" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">product detail</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p><b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, laudantium.</b></p>
          <p>Lorem ipsumsum dolorendis tempore ullam nam nihil?</p>
        </div>
        <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <p><b>Reference:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, totam?</p>
          <p><b>In stock:</b> 300 items</p>
        </div>
      </div>
    </div>
  </div>