<!-- <h5 class="mb-0">
    <button class="btn btn-link p-0 mb-4 ins-a-brand" data-toggle="collapse" data-target="#reviewPayment" aria-expanded="true" aria-controls="collapseOne">
      <h5>4 Payment & Review</h5>
    </button>
</h5>
<div id="reviewPayment"  class="collapse" aria-labelledby="reviewPayment" data-parent="#accordion">
    <section class="clearfix">
        <table id="payment" class="payment">
            <tr>
                <td>
                    <input type="radio" name="payement" data-toggle="collapse" data-target="#payByCheck" aria-expanded="true" aria-controls="payByCheck"> 
                </td>
                <td>Pay by Check</td>
                
            </tr>
            <tr>
                <td></td>
                <td  id="payByCheck" class="collapse" aria-labelledby="payByCheck" data-parent="#payment">
                        <table class="ins payment-by-check ">
                                <tr>
                                    <td>
                                       Amount
                                    </td>
                                    <td>
                                       $26.12 (tax incl.)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       Payee
                                    </td>
                                    <td>
                                       <input type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       Send your check to this address
                                    </td>
                                    <td>
                                       <input type="text">
                                    </td>
                                </tr>
                            </table> 
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="payement" data-toggle="collapse" data-target="#payByBank" aria-expanded="true" aria-controls="payByBank"> 
                </td>
                <td>Pay by Bank</td>
                
            </tr>
            <tr>
                <td></td>
                <td id="payByBank" class="collapse" aria-labelledby="payByBank" data-parent="#payment">
                    <p>Please transfer the invoice amount to our bank account. You will receive our order confirmation by email containing bank details and order number. Goods will be reserved 7 days for you and we'll process the order immediately after receiving the payment.</p>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>I agree to the terms of service and will adhere to them unconditionally.</td>
            </tr>
        </table>
        <button (click)="ordered()" class="btn ins-btn-outline-brand float-right mt-4"><b>ORDER WITH AN OBLIGATION TO PAY</b></button>
    </section>
</div> -->