<h4 class=" ins-bg-second text-white p-2 mb-0">Shopping cart</h4>
  <div class="py-4">
      <ul class="list-unstyled">
          <li class="border-bottom mb-4">
              <div class="row">
                  <div class="col-md-3">
                      <a routerLink="/product-detail"><img src="../assets/images/best-seller-frid.jpg" class="w-100 ins-box-shadow mb-4" alt=""></a>
                  </div>
                  <div class="col-md-4">
                      <a class="ins-a-brand" routerLink="/product-detail">Frid Conjed Fox</a>
                      <br>
                      <b>$65.23 </b>
                      <small class="text-muted">
                      | <s> $26.34</s>
                      </small>
                  </div>
                  <div class="col-md-5">
                      <label class="d-block " for="number-of-product">Quantity:</label>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                          <input class="ins-input-quantity-color w-25" type="number" name="" value="1"  min="1">
                      <h5>$65.23</h5>
                      <a href="#"><i class="material-icons ins-text-second">delete</i></a>
                  </div>
                  </div>
              </div>
          </li>
      </ul>
  </div>
