<div class="my-4">
    <span class="mt-3 d-flex align-items-center">
            <i class="material-icons ins-text-second mr-2">check</i> Security policy
        </span>
        <span class="mt-3 d-flex align-items-center">
            <i class="material-icons ins-text-second mr-2">local_shipping</i> Delivery policy
        </span>
        <span class="mt-3 d-flex align-items-center">
            <i class="material-icons ins-text-second mr-2">swap_horiz</i> Return policy
    </span>
</div>
      