<div class="container">
    <!-- .row1:breadcrumb -->
    <app-breadcrumb></app-breadcrumb>
    <!-- .row1:breadcrumb-end -->


    <!-- .row2: detail  -->
    <app-more-detail></app-more-detail>
    <!-- .row2: detail-end -->

    <!-- row3: description -->
    <app-description></app-description>
    <!-- row3: description-end -->
    

    <!-- row4:review -->
    <app-review></app-review>
    <!-- row4:review-end -->
    
    <!-- row5: product relative -->
    <app-product-relative></app-product-relative>
    <!-- row5: product relative-end -->



  </div>
