
 .ins-nav-top ul:nth-of-type(2) {
  right: 0;
}
.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  top: 0px;
}
.dropdown-menu {
  font-size: 15px;
  padding: 12px;
}
.ins-nav-category {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-toggler-icon {
  color:  rgb(172, 147, 108);
}
.uk-dropdown {
  width: 312px;
}
.ins-wapper-img-cart img {
  width: 100%;
}
.ins-wapper-cart {
  font-size: 14px;
  height: 0px;
}
.ins-logo-offcanvas {
  font-size: 40px;
}

