<nav class="navbar w-100 navbar-expand-lg navbar-light bg-lights ins-nav-main mb-3 ">
  <div class="uk-offcanvas-content">
    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-slide">Category</button>
    <div id="offcanvas-slide" uk-offcanvas="overlay: false">
      <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <a routerLink="/homepage" class="text-white ins-logo-offcanvas">
          <b>Book</b> mall</a>
        <ul class="list-unstyled">
          <li *ngFor="let genre of genres">
            <a routerLink="/category" class="px-0 ins-a-brand">{{genre.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a class="navbar-brand ins-a-brand display-4 text-dark" routerLink="/homepage">
    <b>Book</b> mall
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ins-nav-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3">
        <app-search></app-search>
      </li>
      <li class="nav-item mr-3 float-left navbar-text d-flex align-items-center ">
        <div class="uk-inline">
          <div class="d-flex">
            <a routerLink="/account" class="pr-1 py-0 ins-a-brand">
              <i class="material-icons">account_circle</i>
            </a>
            <small>
              <a routerLink="/account" class="nav-link ins-a-brand px-0 my-0">
                <div *ngIf="userNew">
                  {{userNew.last}} {{userNew.first}}
                </div>
              </a>
            </small>
          </div>
          <div class="uk-dropdown" uk-dropdown="animation: uk-animation-slide-top-small;pos: bottom-right; duration: 700">
            <ul class="list-unstyled">
              <li *ngIf="userNew">
                <a routerLink="/account" class="ins-a-brand">Hi {{userNew.last}}</a>
              </li>
              <li *ngIf="userNew">
                <a routerLink="/account" class="ins-a-brand">Thông tin tài khoản</a>
              </li>
              <li *ngIf="userNew">
                <a routerLink="/account/user-infor" class="ins-a-brand">Quản lý đơn hàng</a>
              </li>
              <li *ngIf="userNew" class="float-right">
                <a class="uk-button uk-button-default" href="#modal-center" uk-toggle>Logout</a>

                <div id="modal-center" class="uk-flex-top" uk-modal>
                  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                    <button class="uk-modal-close-default" type="button" uk-close></button>

                    <p>Do you want to logout?</p>

                    <button class="uk-button uk-button-default uk-modal-close demo float-right" type="button" (click)="logout()" onclick="UIkit.notification({message: '<span uk-icon=\'icon: check\'></span> Logout Successful'})">Yes</button>
                    <button class="uk-button uk-button-danger uk-modal-close float-right mr-2" type="button">Cancel</button>

                  </div>
                </div>
              </li>

              <li *ngIf="!userNew">
                <a routerLink="/registered-custumer" class="ins-a-brand">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="nav-item mr-3 float-left navbar-text d-flex align-items-center ">
        <div class="uk-inline">
          <div class="d-flex">
            <a routerLink="/cart" class="pl-1 my-0 ins-a-brand">
              <i class="material-icons">shopping_cart</i>
            </a>
            <small>
              <a routerLink="/cart" class="nav-link ins-a-brand px-0 my-0">Cart({{shoppingCart.items_counted}})</a>
            </small>
          </div>
          <div class="uk-dropdown p-3" uk-dropdown="animation: uk-animation-slide-top-small;pos: bottom-right; duration: 700">
            <app-nav-list-cart></app-nav-list-cart>
          </div>
        </div>
      </li>
    </ul>

  </div>
</nav>


<!-- <li class="nav-item">
          <a routerLink="/add-genre">Add genre</a>
        </li> -->