
 .ins-nav-top ul:nth-of-type(2) {
  right: 0;
}
.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  top: 0px;
}
.dropdown-menu {
  font-size: 15px;
  padding: 12px;
}
.ins-nav-category {
  padding-top: 0px;
  padding-bottom: 0px;
}

