<div class="container">
    <app-breadcrumb></app-breadcrumb>
    <div class="row ins-shopping-cart">
        <div class="col-md-8 col-12">
            <app-list-product-cart></app-list-product-cart>
        </div>
        <div class="col-md-4 col-12">
            <app-total-cart></app-total-cart>
            <div class="d-flex justify-content-center my-4"><a href="checkout.html"><button class="btn ins-btn-outline-brand">Check out</button></a></div>
            <app-list-item-policy></app-list-item-policy>
        </div>
    </div>
</div>