<h4 class=" ins-bg-second text-white p-2 mb-0">Registered Custumer</h4>
  <section class="clearfix">
    <div class="row mt-4 d-flex align-items-center">
        <label for="" class="col-md-3 m-0">Email</label>
        <div class="col-md-6">
            <input type="email" class="w-100">
        </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
        <label for="" class="col-md-3 m-0">Password</label>
        <div class="col-md-6">
            <input type="Password" class="w-100">
        </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
        <p class="col-md-3"></p>
        <p class="col-md-9"><a href="" class="ins-a-brand">Forgot Your Password?</a></p>
    </div>
    <button class="btn ins-btn-outline-brand float-right mt-4">Sign in</button>
  </section>
