<div class="row ins-list-item-2 ins-py">
    <div class="col-md-3 col-6 py-2">
      <a href="#">
        <img src="../assets/images/lg.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 col-6 py-2">
      <a href="#">
        <img src="../assets/images/lg.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 col-6 py-2">
      <a href="#">
        <img src="../assets/images/lg.jpg" alt="">
      </a>
    </div>
    <div class="col-md-3 col-6 py-2">
      <a href="#">
        <img src="../assets/images/lg.jpg" alt="">
      </a>
    </div>
  
  </div>
