<h4 class=" ins-bg-second text-white p-2 mb-0">Checkout</h4>
<div id="accordion">
    <ul class="list-unstyled">
        <li class="ins-pb">
            <app-personal-information></app-personal-information>
        </li>
        <li class="ins-pb">
            <app-addresses></app-addresses>
        </li>
        <li class="ins-pb">
            <app-shipping-methods></app-shipping-methods>
        </li>
        <li class="ins-pb">
            <app-payment-review></app-payment-review>
        </li>
    </ul>
</div>
