<div class="row  ins-list-item-1 ins-pt">
  <div class="col-md-3 col-6 mt-3">
    <div class="media border-right">
      <i class="material-icons align-self-center ins-icon-1 mr-4">local_shipping</i>
      <div class="media-body">
        <h5>FREE SHIPPING</h5>
        <p>Free Shipping On All Order</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-6 mt-3">
    <div class="media border-right">
      <i class="material-icons align-self-center ins-icon-1 mr-4">sync</i>
      <div class="media-body">
        <h5>MONEY GUARANTEE</h5>
        <p>30 Day Money Back</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-6 mt-3">
    <div class="media border-right">
      <i class="material-icons align-self-center ins-icon-1 mr-4">verified_user</i>
      <div class="media-body">
        <h5>ONLINE SUPPORT</h5>
        <p>Technical Support 24/7</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-6 mt-3">
    <div class="media ">
      <i class="material-icons align-self-center ins-icon-1 mr-4">card_membership</i>
      <div class="media-body">
        <h5>MEMBER DISCOUNT</h5>
        <p>Up to 40% Discount</p>
      </div>
    </div>
  </div>
</div>
