<div class="row">
    <div class="col-md-12 ">
      <nav aria-label="Page navigation pagination ">
        <ul class="pagination justify-content-end mb-4">
          <li class="page-item disabled">
            <a class="page-link" routerLink="/" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link active" href="#">1</a></li>
          <li class="page-item"><a class="page-link ins-a-brand " href="#">2</a></li>
          <li class="page-item"><a class="page-link ins-a-brand " href="#">3</a></li>
          <li class="page-item">
            <a class="page-link ins-a-brand " href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
