<div class="border">
    <h4 class=" ins-bg-second text-white p-2 mb-0 ">Total</h4>
    <ul class="list-unstyle p-4 mb-0">
        <li class="d-flex justify-content-between border-bottom mb-4 pb-4">
            <span>1 items</span>
            <span>$65.23</span>
        </li>
        <li class="d-flex justify-content-between border-bottom mb-4 pb-4">
            <span>Shipping</span>
            <span>Free</span>
        </li>
        <li class="d-flex justify-content-between pb-4">
            <span><b>Total</b></span>
            <span><h5>$65.23</h5></span>
        </li>
    </ul>
</div>
