<div class="row ins-product-relative">
    <div class="col-md-12 col-12">
        <h5 class="my-0 text-white p-2 ins-bg-second"><b>Products relative</b></h5>
    </div>
    <div class="col-md-3 col-6">
        <div class="card text-center border-0 my-4 ins-card-product">
          <a href="product-detail.html">
            <img class="ins-img-product" src="../assets/images/new-product-watch.jpg" alt="">
          </a>
          <span class="btn ins-bg-second rounded-circle ins-btn-new">New</span>
          <div class="card-body border-top">
            <h5 class="card-title ins-card-title">
              <a href="product-detail.html" class="ins-a-brand">Watch chai Apple 2"</a>
            </h5>
            <b>$24.23</b>
            <br>
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            <br>
            <button type="button" class="btn ins-btn-outline-brand mt-2">Add to cart</button>
          </div>
        </div>
      </div>
  </div>
