<div class="row">
    <div class="col-md-12 col-12">
      <ul class="list-unstyled d-flex justify-content-between align-items-center mt-4 mb-0">
        <li>
          <div class="ins-filter-view float-left">
            <a href=""><i class="material-icons text-white ins-bg-second p-2">format_list_bulleted</i></a>
            <a href=""><i class="material-icons text-white ins-bg-second p-2 ml-2">grid_on</i></a>
          </div>
        </li>
        <li>
          <select class="btn ins-input-quantity-color w-100 float-right" name="Sort" value="Sort" id="">
            <optgroup label="Price">
              <option value="Price">High to low</option>
              <option value="Price">Low to high</option>
            </optgroup>
            <optgroup label="Name">
              <option value="Price">A to Z</option>
              <option value="Price">Z to A</option>
            </optgroup>
          </select>
        </li>
      </ul>
    </div>
  </div>
