<div *ngIf="currentUser">
  <div class="container">
    <div class="row">
      <div class="col-4 col-md-3">
        <h4 class=" ins-bg-second text-white p-2 mb-3">{{currentUser.first}} {{currentUser.last}}</h4>
        <div class="user-menu">
          <ul>
            <li>
              <a class="ins-a-brand" routerLinkActive="active"
              routerLink="./user-infor">Thông tin tài khoản</a>
            </li>
            <li>
              <a class="ins-a-brand">Thông báo của tôi</a>
            </li>
            <li>
              <a class="ins-a-brand" routerLink="./order-manage">Quản lí đơn hàng</a>
            </li>
            <li>
              <a class="ins-a-brand">Sổ địa chỉ</a>
            </li>
            <li>
              <a class="ins-a-brand">Thông tin thanh toán</a>
            </li>
            <li>
              <a class="ins-a-brand">Sản phẩm bạn đã xem</a>
            </li>
            <li>
              <a class="ins-a-brand">Hỏi đáp</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-8 col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>