<h5 class="mb-0">
    <button class="btn btn-link p-0 mb-4 ins-a-brand" data-toggle="collapse" data-target="#addresses" aria-expanded="true" aria-controls="collapseOne">
      <h5>2 Addresses</h5>
    </button>
</h5>
<div id="addresses" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <p>The selected address will be used both as your personal address (for invoice) and as your delivery address.</p>
    <section class="clearfix">
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">First Name</label>
            <div class="col-md-6">
                <input type="text" class="w-100">
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">Last Name</label>
            <div class="col-md-6">
                <input type="text"  class="w-100">
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">Company</label>
            <div class="col-md-6">
                <input type="text"  class="w-100">
            </div>
            <div class="col-md-3">
                Optional
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">Address</label>
            <div class="col-md-6">
                <input type="text"  class="w-100">
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">Address Complement</label>
            <div class="col-md-6">
                <input type="text"  class="w-100">
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">City</label>
            <div class="col-md-6">
                <input type="text"  class="w-100">
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">State</label>
            <div class="col-md-6">
                <input type="text"  class="w-100">
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">Zip/Postal Code</label>
            <div class="col-md-6">
                <input type="text"  class="w-100">
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">Country</label>
            <div class="col-md-6">
                <input type="text"  class="w-100">
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <label for="" class="col-md-3 m-0">Phone</label>
            <div class="col-md-6">
                <input type="Phone"  class="w-100">
            </div>
        </div>
        <button class="btn ins-btn-outline-brand float-right mt-4">Continue</button>
    </section>
</div>
