<div class="col-md-9 ins-filter-product-list position-relative">
    <img src="img/banner.jpg" class="w-100" alt="">
    <app-sort-way></app-sort-way>
    <div class="ins-list-filter-product ">
    <app-block-template-product></app-block-template-product>
      <div class="row">
        <div class="col-md-12 ">
          <nav aria-label="Page navigation pagination">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link active" href="#">1</a></li>
              <li class="page-item"><a class="page-link ins-a-brand " href="#">2</a></li>
              <li class="page-item"><a class="page-link ins-a-brand " href="#">3</a></li>
              <li class="page-item">
                <a class="page-link ins-a-brand " href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>  
    </div>

  </div>
