.carousel-caption {
  top: 100px;
  position: absolute;
}
.carousel-caption p {
  width: 500px;
}
.caption-right {
  right: 100px;
  left: auto;
}
.caption-left {
  left: 100px;
  right: auto;
}
  /* slide */
  .ins-slide-home {
    margin: 0px !important  ;
  }
  .ins-slide-home {
    width: 100%;
  }
  .img-fluid {
    width: 100%;
  }
  /* slide-end */


