button {
  border : 1px solid rgb(0, 171, 169);
}

@media (max-width: 991px) {
  .ins-nav-collapse ul li {
    padding: 8px 0px;
  }
}
.ins-search-result {
  position: absolute;
  z-index: 10;
  /* background: white; */
  right: 0;
  top: 54px;
}
input {
  width: 200px;
  float: right;
}
.uk-navbar-toggle {
  height: 50px;
  padding: 0;
}
::-moz-placeholder {
  font-size: 14px;
}

